<p style="margin: 0">
    <a class="strong" style="display:inline-block; text-decoration: none; cursor: pointer; white-space: nowrap; margin-bottom: 7px; margin-right: -25px">
        <img class="img-circle" src="<%= user_avatar %>" style="height: 26px; width: 26px; margin-right: 5px">
        <span style="display: inline-block; padding-top: 6px">
          <%= user_name %> :
        </span>
    </a>
    <span class="strong" style="display: inline-block; line-height: 20px; letter-spacing: 1px; margin-left: 35px">
        <%= content %>
    </span>
</p>
<span class="small last_time" style="padding-left: 35px">
     <%= created_at %>
</span>