<form id="new-comment" name="comment">
    <div class="form-group">
        <label for="content" style="color: #fdfdfd">添加新评论：</label>
        <textarea autocomplete="off" class="form-control" name="content" id="content" placeholder="Comment" size="150" rows="3" required="required"></textarea>
    </div>
    <input class="btn btn-success strong button_padding" type="submit" value="添 加" />
</form>