.bgcolor_red { background-color: rgb(240, 128, 128); }
.bgcolor_blue { background-color: #67B4B1; }

$projdect_shadow: #4A525C;

@mixin opacity_filter ($num:50) {
  opacity: $num / 100;
  filter: alpha(opacity=$num);
}

@mixin auto_margin ($top:0,$bottom:0) {
  margin: $top auto $bottom auto;
}

@mixin auto_padding {
  padding-top: 15px;
  padding-bottom: 15px;
}

@mixin gray_bottom_border {
  border-bottom: 1px solid #CCCCCC;
}

@mixin lazy_tansition ($meta,$time) {
  transition: $meta $time;
  -moz-transition: $meta $time;
  -webkit-transition: $meta $time;
  -o-transition: $meta $time;
}

html {
  height: 100%;
}

body {
  padding-top: 50px;
  height: 100%;
}

ul {
  list-style-type: none;
}

#wrap {
  display: block;
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -50px auto;
}

.header {
  @include opacity_filter(92);
}

.footer {
  background-color: transparent;
  margin-bottom: 0;
  border-right: none;
  border-left: none;
}

.strong {
  font-weight: bold;
  font-size: 13px;
}

.strong14 {
  font-weight: bold;
  font-size: 14px;
}

.form_error {
  width: 88%;
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding: 2px 15px;
  border-radius: 2px;
}

.center {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.extra_padding {
  padding-left: 15px;
  padding-right: 15px;
}


