body[data-page="home-index"],
body[data-page="home-term"]
{
  .container-home {
    width: 100%;
    overflow-x: hidden;
    max-width: 1920px;
    min-height: 1400px;
    overflow-y: hidden;
    margin: 0 auto;
  }

  .photo-frame {
    position: absolute;
    top: 50px;
    width: 100%;
    max-width: 1920px;
    height: 468px;
    overflow: hidden;
    img {
      margin-top: -460px;
    }
    z-index: -100;
//    @include lazy_blur;
  }
  .beacon-title {
    padding-bottom: 30px;
    position: absolute;
    top: 130px;
    width: 100%;
    max-width: 1920px;
    color: #333;
    background-color: rgba(255,255,255,0.5);
    z-index: 10px;
    h1 { font-size: 38px; margin-bottom: 20px }
    a {
      margin-top: 10px;
    }
    a.btn-success { margin-right: 20px }
  }
  .projects {
    position: absolute;
    top: 540px;
  }
  .project {
    margin-bottom: 15px;
    box-shadow: 0 0 4px 0 #bbb;
    background-color: #f1f1f1;
    color: #FDFDFD;
    @include lazy_tansition(margin, 0.2s);

    .description {
      background-color: $projdect_shadow;
      padding-top: 3px;
      padding-bottom: 3px;

      @include project_link;

      .title {
        position: absolute;
        top: 358px;
        width: 97%;
        margin-left: -1%;
        box-shadow: 0 1px 2px 0 $projdect_shadow;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 10px;
        line-height: 2.4;
        font-size: 20px;
        font-weight: bold;
        z-index: 9999999;
      }

      .de_content {
        background-color: $projdect_shadow;
        word-break: keep-all;
        white-space: pre-wrap;
        text-align: justify;
        font-size: 13px;
        padding: 15px 15px 5px 15px;
      }
    }
    .no_bottom {
//      background-color: #f1f1f1;
      border: none;
      padding: 0;
      margin-bottom: 0;
    }
  }
}

body[data-page="home-term"] {
  .container-home {
    width: 100%;
    overflow-x: hidden;
    max-width: 1920px;
    min-height: 2000px;
    overflow-y: hidden;
    margin: 0 auto;
  }
  p.content {
    word-break: keep-all;
    white-space: pre-wrap;
    font-size: 13px;
  }
}
