body[data-page="home-index"]
{
  .container-home {
    width: 100%;
    overflow-x: hidden;
    max-width: 1920px;
    height: 100%;
    overflow-y: hidden;
    margin: 0 auto;
  }

  .photo-frame {
    position: absolute;
    top: 50px;
    width: 100%;
    max-width: 1920px;
    height: 468px;
    overflow: hidden;
    img {
      margin-top: -460px;
    }
    z-index: -100;
//    @include lazy_blur;
  }
  .beacon-title {
    padding-bottom: 30px;
    position: absolute;
    top: 180px;
    width: 100%;
    max-width: 1920px;
    color: #333;
    background-color: rgba(255,255,255,0.5);
    z-index: 10px;
    h1 { font-size: 38px; margin-bottom: 20px }
    a {
      margin-top: 10px;
    }
    a.btn-success { margin-right: 20px }
  }
  .project {
    margin-bottom: 15px;
    box-shadow: 0 0 4px 0 #bbb;
    background-color: #f1f1f1;
    color: #FDFDFD;
    @include lazy_tansition(margin, 0.2s);

    &:hover {
      margin-top: -5px;
      margin-bottom: 20px;
      box-shadow: 1px 3px 15px 0 rgb(170, 170, 170);
    }

    &:active {
      margin-top: -5px;
      margin-bottom: 20px;
      box-shadow: 1px 3px 15px 0 rgb(170, 170, 170);
    }

    .no_bottom {
      background-color: #f1f1f1;
      border: none;
      padding: 0;
      margin-bottom: 0;
    }
  }
}
