.top_box{
  padding:20px;
  background-image: linear-gradient(to bottom, #6cc0e7 0, #56b7e3 100%);
  background-repeat: repeat-x;
  color:white;
}
.user_name{
  font-size: 20px;
}
.mid_tag{
  background-color:#ffffff;
  border: 1px solid #dddddd;
}
#main_page{
  background-color:#ffffff;
  border: 1px solid #dddddd;
  margin-top: 20px;
}
#personal_info{
  margin-top: 20px;
}
#personal_box{
  padding: 0 40px 40px 40px;
  background-color:#ffffff;
  border:1px solid #dddddd;
}

