$navbar-height: 50px;
$navbar-inverse-link-color: #aaa;
$navbar-inverse-link-hover-bg: #111;
$navbar-default-link-color: #333;
$navbar-default-link-hover-color: #000;
$navbar-default-link-hover-bg: #eee;
$body-bg: ivory;
$font-family-serif: "MICROSOFT YAHEI", Helvetica, Arial, Sans-serif;
$font-size-base:          14px;