@mixin project_link {
  & > a {
    text-decoration: none;
    color: #f1f1f1;

    &:hover {
      color: #ffffff;
    }
  }
}

body[data-page="projects-show"],
body[data-page="projects-update"],
body[data-page="projects-create_milestone"],
body[data-page="projects-update_milestone"],
body[data-page="projects-preview"],
body[data-page="users-show"]
{
  .comment_ul {
    margin-bottom: 0;
  }

  .NewComment {
    li {
      background-color: #4a525c;
      border-radius: 0;
    }
  }

  .Comments {
    li {
      border-radius: 0;
    }
  }

  #forkForm {
    .content {

    }
  }

  .project {
    margin-bottom: 15px;
    box-shadow: 0 0 4px 0 #bbb;
    background-color: #f1f1f1;
    color: #FDFDFD;
    @include lazy_tansition(margin, 0.2s);
  }


  .description {
    background-color: $projdect_shadow;
    padding-top: 3px;
    padding-bottom: 5px;

    @include project_link;

    .title {
      width: 102%;
      margin-left: -1%;
      box-shadow: 0 1px 2px 0 $projdect_shadow;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 15px;
      line-height: 2.6;
      font-size: 15px;
      font-weight: bold;
    }

    .de_content {
      background-color: $projdect_shadow;
      word-break: keep-all;
      white-space: pre-wrap;
      text-align: justify;
      font-size: 13px;
      padding: 10px 15px;
    }

    .follow {
      font-weight: bold;
      line-height: 2;

      .followed {
        color: #F08080 !important;
      }

      .forked {
        color: #56b7e3 !important;
      }

      & > span > a.follows {
        text-decoration: none;
        color: lightcyan;
        font-size: 16px;

        &:hover{
          color: #F08080;
          cursor: pointer;
        }
      }

      & > span > a.forks {
        text-decoration: none;
        color: lightcyan;
        font-size: 16px;

        &:hover{
          color: #56b7e3;
          cursor: pointer;
        }
      }

      & > span > a.edit, a.delete {
        text-decoration: none;
        color: lightcyan;
        font-size: 16px;

        &:hover{
          color: #56b7e3;
          cursor: pointer;
        }
      }

      & > span.cut {
        font-size: 20px;
        margin-top: -10px;
      }
    }
  }

  .milestones {
    .disabled {
      background-color: #f1f1f1;
      min-height: 40px;
      color: #666;
      font-size: 15px;
      font-weight: bold;
    }
  }

  .no_bottom {
    background-color: #f1f1f1;
    border: none;
    padding: 0;
    margin-bottom: 0;
  }
}

body[data-page="activities-index"],
body[data-page="projects-index"],
body[data-page="projects-collection"],
body[data-page="projects-create"],
body[data-page="users-show"]
{
  .project {
    margin-bottom: 15px;
    box-shadow: 0 0 4px 0 #bbb;
    background-color: #f1f1f1;
    color: #FDFDFD;
    @include lazy_tansition(margin, 0.2s);

    &:hover {
      margin-top: -5px;
      margin-bottom: 20px;
      box-shadow: 1px 3px 15px 0 rgb(170, 170, 170);
    }

    &:active {
      margin-top: -5px;
      margin-bottom: 20px;
      box-shadow: 1px 3px 15px 0 rgb(170, 170, 170);
    }

    .new_project {
      display: block;
      font-size: 50px;
      color: #666;
      height: 300px !important;
      padding-top: 100px;
      background-color: #fdfdfd;
      @include lazy_tansition(color, 0.2s);
      @include lazy_tansition(background, 0.2s);

      &:hover{
        cursor: pointer;
        color: $projdect_shadow;
        background: #ffffff;
      }

      .content {
        font-size: 17px;
        font-weight: bold;
        line-height: 4;
      }
    }

    .description {
      background-color: $projdect_shadow;
      padding-top: 3px;
      padding-bottom: 3px;

      @include project_link;

      .title {
        width: 102%;
        margin-left: -1%;
        box-shadow: 0 1px 2px 0 $projdect_shadow;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 15px;
        line-height: 2.6;
        font-size: 15px;
        font-weight: bold;
      }

      .de_content {
        background-color: $projdect_shadow;
        word-break: keep-all;
        white-space: pre-wrap;
        text-align: justify;
        font-size: 13px;
        padding: 10px 15px;
      }

      .follow {
        p {line-height: 1.2em; margin-bottom: 5px}

         a.avatar {
           display: inline-block;
           text-decoration: none;
           max-width: 190px;
           color: #ffffff;
           white-space: nowrap;
           overflow: hidden;
           text-overflow: ellipsis;
           cursor: pointer;
           &:hover {
             color: lightblue;
           }
        }

        font-weight: bold;
        line-height: 2;

        .followed {
          font-size: 16px;
          color: #F08080;
        }

        .forked {
          font-size: 16px;
          color: #56b7e3;
        }
      }
    }

    .active_milestone {
      padding: 10px 15px 4px 15px;
      background-color: #f1f1f1;
      color: #444;
      border-bottom: 1px solid #e6e6e6;

      .last_time {
        color: #666;
      }

      .milestone_title {
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .comments {
      background-color: #fff;
      font-size: 13px;
      color: #666;

      .comment {
        border-bottom: 1px solid #e6e6e6;
        word-break: keep-all;
        white-space: pre-wrap;
        text-align: justify;
        margin: 0 10px;
        padding: 10px 0;
      }

      .all_comments {
        line-height: 40px;

        & > a { margin-left: 79% }
        & > a:hover{ background-color: #56b7e3 }
      }
    }
  }

  .no_bottom {
    background-color: #f1f1f1;
    border: none;
    padding: 0;
    margin-bottom: 0;
  }

}