body[data-page="registrations-create"],
body[data-page="registrations-new"],
body[data-page="sessions-new"],
body[data-page="passwords-new"],
body[data-page="passwords-edit"],
body[data-page="confirmations-new"]{
  background-image: image-url("boat.jpg");
  background-repeat: repeat;

  .top-stand {
    margin-top: 80px;

    .panel-padding {
      padding-bottom: 20px;

      .welcome {
        padding-bottom: 15px;
        @include gray_bottom_border;
      }

      .right_panel{
        margin-top: 10px;
      }

      .common_panel {
        background-color: #F5F5F5;
        border: 1px solid #E4E4E4;
        margin-top: 10px;
        @include auto_padding;

        .login_or_sign {
          @include gray_bottom_border;
        }

        .button_padding {
          margin-bottom: 10px;
        }
      }
    }
  }

  .shadow {
    margin-top: -22px;
  }

  .bottom-stand {
    padding-bottom: 25px;
  }

  .registration {
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
  }
}