body[data-page="users-detail"],
body[data-page="registrations-update"],
body[data-page="users-show"]
{
  .user_info_pannel{
    background-color: #ffffff;
  }
  .info_content{
    border-left:1px solid #dddddd;
    border-right:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
    padding: 10px 40px 40px 40px;
  }

  .title_line{
    border-top:1px solid #dddddd;
    margin:70px 0 0 70px;
  }
  .title{
    margin:-14px;
    font-size: 20px;
  }
  #info{
    margin-top:30px;
  }
  .info_row{
  padding:10px;
  } 
 .active{
    background-color: #ffffff;
  }
  .user_border {  
  border-radius: 2px;
  background-image: linear-gradient(to bottom, #6cc0e7 0, #56b7e3 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  padding: 30px 30px 50px 30px;
  }
  .dropdown-menu{
    z-index: 2000;
  }
  .add-on{
    padding:5px;
    background-color: #D9D9D9;
  }
  .img_content{
    margin-top:20px;
  }
  .switch_span{
    padding:5px;
  }
  .upload_content{
    border: 1px solid #e4e4e4;
    background-color:#f5f5f5;
    padding:20px;
  }
  .content_title{
    background-color:#5bc0de;
    border-left:1px solid #46b8da;
    border-right:1px solid #46b8da;
    border-top:1px solid #46b8da;
    color:#ffffff;
    padding:10px;
  }
  .list_content{
    height:600px;
    background-color:#ffffff;
    border-left:1px solid #dddddd;
    border-right:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
  }
  .glyphicon:hover{
    cursor:pointer;
  }
}
body[data-page="users-show"]{
  .top_box{
  padding:20px;
  background-image: linear-gradient(to bottom, #6cc0e7 0, #56b7e3 100%);
  background-repeat: repeat-x;
  color:white;
}
  .user_name{
    font-size: 20px;
  }
  .mid_tag{
    background-color:#ffffff;
    border: 1px solid #dddddd;
  }
  #main_page{
    background-color:#ffffff;
    border: 1px solid #dddddd;
    margin-top: 20px;
  }
  #personal_info{
    margin-top: 20px;
  }
  #personal_box{
    padding: 0 40px 40px 40px;
    background-color:#ffffff;
    border:1px solid #dddddd;
  }
}
