<!-- <p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p> -->
 <table border="0" cellpadding="0" cellspacing="0" width="480" style="border: 1px solid #DDDDDD;">
  <tr>
    <td height="60" style="background-color:#333333;padding:0 10px 0 10px;border-bottom:1px solid #DDDDDD;font-family:Arial;color:#BDBDBD;">
     <div style="height:30px;width:200px;"><h2>MealIt</h2></div>
    </td>
  </tr>
  <tr>
  	<td height="300" valign="top">
      <div style="color:#505050;font-family:Arial;font-size:14px;line-height:150%;height:220px;width:400px;padding:40px;">
        <span>我们收到你的米er账户</span><%= @resource.email %><span>发来的密码修改申请，如果确定是你本人提出申请，请点击</span>
        <%= link_to '修改我的密码', edit_password_url(@resource, reset_password_token: @token) %>
        <br/>
        <p>此链接有效期直到重设密码成功为止。如果你没有提出过密码修改申请，请忽略此邮件。有可能是其他用户提交申请时出错。我们不会对你的帐户进行任何变更。</p>
        <div style="width:100px;height:20px;float:right;"><p>米er团队</p></div>
        <div style="width:200px;height:20px;margin:100px auto;clear:right;">有任何问题，请<a href="#">联系我们</a></div>
      </div>
  	</td>
  </tr>
</table>